@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

@font-face {
    font-family: Noto Sans KR;
    src: url(../font/NotoSansKR-Regular.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 10px;
}


body {
    background: #fff;
    font-size: 1.5rem/1.8 'Noto Sans KR', sans-serif;
    color: #333;
}

a {
    font-size: 1.5rem;
    text-decoration: none;
    color: #555;
}

li a {
    font-style: 2rem;
}

p {
    font-style: 1.5rem;
}

/* 목록의 마커 제거 */
li {
    list-style: none;
}

img {
    width: 100%;
    /* vertical-align:top; */
}

iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

.logo {
    font-style: 1.5rem;
    font-weight: normal;
    letter-spacing: 4px;
}

h1 a {
    font-size: 3.2rem;
}

h2 {
    font-size: 2.4rem;
}

h3 {
    font-size: 2rem;
}

p {
    font-size: 1.6rem;
}

/* header */
header {
    z-index: 9999;
    position: fixed;
    width: 100%;
    padding: 0 32px;
    background: #7DAF1C;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
}

header img {
    display: none;
}

nav {
    display: none;
}

/* section1 */
#main_img {
    position: relative;
}

#main_img h2 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#main_img span {
    display: none;
}

#bonif {
    height: 100%;
    overflow: hidden;


}

#bonif ul {
    position: relative;
    left: 0;
    display: flex;
    width: 800%;
    animation: slide 24s infinite;
}

@keyframes slide {
    0% {
        left: 0;
    }

    5% {
        left: -100%;
    }

    14.28% {
        left: -100%;
    }

    23% {
        left: -200%;
    }

    28.56% {
        left: -200%;
    }

    31% {
        left: -300%;
    }

    42.85% {
        left: -300%;
    }

    45% {
        left: -400%;
    }

    57.13% {
        left: -400%;
    }

    60% {
        left: -500%;
    }

    74.41% {
        left: -500%;
    }

    77% {
        left: -600%;
    }

    85.69% {
        left: -600%;
    }

    85.69% {
        left: -700%;
    }

    99.99% {
        left: -700%;
    }

    100% {
        left: 0%;
    }

}

#main_img b {
    padding: 6px 12px 10px;
    background: #7eaf1cab;
}

#main_img span {
    display: none;
}

/* section common */
.section {
    padding: 81px 30px 0;
}

.section h2 {
    line-height: 1;
    border-bottom: 1px solid #f1f1f1;
    padding: 20px 0;
    margin-bottom: 20px;
}

section li {
    margin-bottom: 16px;
}

/* section2 */

#brand {
    margin-bottom: 40px;
}

#brand li {
    position: relative;
}

#brand h3 {
    color: #fff;
    position: absolute;
    left: 0;
    top: 0;
    padding: 4px 12px;
    background: #7DAF1C;
}

/* section3 */

#new>p {
    margin-bottom: 40px;
}

#new h3 {
    font-size: 1.8rem;
    font-weight: 700;
    margin-top: 16px;
}

#new li p:first-of-type {
    margin: 8px 0;
}

#new a {
    display: block;
    background: #7DAF1C;
    text-align: center;
    padding: 6px 0;
    margin-top: 16px;
}

/* section4 */
#startup input {
    display: block;
    width: 100%;
    padding: 12px;
    margin: 15px 0;
    border: 1px solid #ccc;
}

#startup button {
    padding: 12px 16px;
    margin: 20px 0 45px;
    background: #000;
    color: #fff;
}

#startup>select {
    font-style: 20px;
    padding: 12px 16px;
    margin: 20px 0 45px;
}

::placeholder {
    color: #ccc;
}

footer {
    background: #000;
    text-align: center;
    padding: 30px 0;
    color: #fff;
}

footer span:nth-of-type(1),
footer span:nth-of-type(3) {
    display: none;
}

/* >768 */
@media (min-width:768px) {

}
/* >992 */
@media (min-width: 992px) {

    /* header */
    header {
        display: flex;
        justify-content: space-between;
    }

    header a {
        padding: 20px 32px;
    }


    header img {
        display: block;
    }

    .logo {
        display: flex;
    }

    /* logo */

    /* nav */
    nav {
        display: block;
    }

    nav ul {
        display: flex;
    }

    nav ul li:not(:first-of-type) {
        margin-left: 36px;
    }

    .container li {
        margin: 32px 0;
    }

    /* section1 */
    #main_img {
        max-width: 1496px;
        margin: 0 auto;
    }

    #main_img span {
        display: inline;
    }

    /* section2~4 */
    .section {
        width: 1496px;
        margin: 0 auto;
        padding: 81px 0px 0;
    }

    .section ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .section li {
        width: 362px;
    }
    .map {height: 1000px;}

    footer span:nth-of-type(1),
    footer span:nth-of-type(3) {
        display: inline;
    }

    footer span:nth-of-type(2),
    footer span:nth-of-type(4) {
        display: none;
    }
}