@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: lightblue;
}
/* 내비게이션 */
nav{
    width: 1920px;
    background-color: lightsalmon;
}
/* 로고 */
#bonif{
    width: 1500px;
    height: 800px;
    background-color: lightpink;
}